=snippet :'snippets/top'

.span-16.append-1
  =snippet :'snippets/update_box'
  =snippet :'snippets/follow' if @myself
  %h2 Home  
  =snippet :'snippets/chirps'
.span-7.last
  =snippet :'snippets/info_box'