=snippet :'/snippets/text_limiter_js'
%h2 What are you doing?
%form{:method => 'post', :action => '/update'}
  %textarea.update.span-15#update{:name => 'chirp', :rows => 2, :onKeyDown => "text_limiter($('#update'), $('#counter'))"}
  .span-6
    %span#counter
      140
    characters left
  .prepend-12
    %input#button{:type => 'submit', :value => 'update'}
